img{
	width: 100%;
	height: auto;
}

#features{
	text-align: center;
	padding: 20px;
	background-color: #D3D3D3;
}

.item{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h6{
	font-weight: bold;
	padding: 10px;
}

h3,h2{
 color: #03396c;
}

#solutions{
	text-align: center;
	padding: 20px;
	background-image: url(https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg);

}

.sol{
	width: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Papyrus", Fantasy;
}

.left img{
	display: block;
	height: 100px;
	width: 150px;
	margin: 45px auto;

}
.left{
	display: inline-block;
	width: 25%;
	float: left;
}

.right{
	display: inline-block;
	width: 60%;
	margin-left: 37px;
	padding: 45px;
}

.block{
	background-color: #D3D3D3;
}

.button{
	padding: 20px;
	margin-left: 130px;
}


#testimonials{
	text-align: center;
	padding: 30px;
	background-image: url(https://thumbs.dreamstime.com/b/white-wood-wall-texture-background-panels-graphic-resources-149622903.jpg);

}

.contact-fixed-btn{
	position: fixed;
	z-index: 9;
	transform: translateY(50%);
	top: 20%;
	padding: 0;
	background-color: transparent;
}



